#upcoming{
    min-height: 100vh;
    background:url("../../assets/images/upcoming-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .flex__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .title__wrapper{
            p{
                color:var(--citrine);
                font-size:var(--fs-10);
                font-weight: var(--fw-500);
            }

            h1{
                font-size:var(--fs-1);
                font-weight: var(--fw-700);
                color:var(--white)
            }

        }

        .filter__wrapper{
            display: flex;
            align-items: center;
            gap:10px;
            flex-wrap: wrap;

            .filter__item{
                padding:12px 26px;
                background-color: var(--raisin-black);
                border:2px solid var(--gunmetal-1);
                color:var(--white);
                font-weight: var(--fw-500);
                border-radius: 30px;
                font-size:var(--fs-11)
            }
        }
    }
    .movie__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:30px;

        li{
            min-width:100%;

            .movie__card{
                display: flex;
                flex-direction: column;
                height:100%;
                justify-content: space-between;

                .movie__banner{
                    aspect-ratio: 2 /3;
                    border-radius: 4px;
                    overflow: hidden;
                    margin-bottom:20px;

                    img{
                        width:100%;
                        object-fit: cover;
                    }
                }
                .movie__title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .title{
                        font-size:var(--fs-7);
                        color:var(--white);
                        font-weight: var(--fw-700);
                    }
                    span{
                        color:var(--citrine);
                        font-size:var(--fs-9)
                    }
                }

                .movie__details{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .badge{
                        color:var(--citrine)
                    }

                    .movie__data{
                        display: flex;
                        align-items: center;
                        gap:10px;

                        .time,.rate{
                            display: flex;
                            align-items: center;
                            gap:7px;
                            color:var(--citrine);

                            .star{
                                font-size:var(--fs-11)
                            }

                            .clock{
                                font-size:var(--fs-11)
                            }

                            span{
                                font-size:var(--fs-10)
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:988px) {
        .flex__wrapper{
            flex-direction: column;
            text-align: center;

            .title__wrapper{
                h1{
                    margin-bottom:30px;
                }
            }
        }

        .movie__list{
            grid-template-columns: repeat(3,1fr);

            li{
                scroll-snap-align: start;
            }
        }
    }

    @media screen and (max-width:768px){
        .movie__list{
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media screen and (max-width:450px){
        .movie__list{
            grid-template-columns: 1fr;
        }
    }

}